$dashboard-bg: #fdfaff;
$white-bg: #fff;
$text1: #11141a;
$text2: #fff;
$likes: #3683ff;
$likes-hover: #275fb9;
$love: #db6786;
$angry: #cc0000;
$haha: #ffcd45;
$wow: #ffd970;
$sad: #ffab5c;
$post-bg: #f0f2f5;
$post-btn-hover: #e9e9e9;
$post-text: #898b8f;
$post-btn-hover2: #dfdfdf;
